<launch>
  <arg name="bagname"  default="MH_01.bag" />
  <arg name="loopclosure"  default="false" />
  <arg name="skip_first_seconds"  default="0.0" />
  <arg name="duration" default="-1" />
  <arg name="vio_config" default="$(find sliding_window_estimator)/config/euroc/config_fpga_p2_euroc.yaml" />
  <arg name="lcd_config" default="$(find loop_closure_module)/config/lcd_params.yaml" />
  <arg name="camera_topics" default="/cam0/image_raw,/cam1/image_raw" />
  <arg name="imu_topic" default="/imu0" />
  <arg name="dump_output_option" default="3"/>
  <arg name="noncentral_relative_pose" default="true"/>
  <arg name="output_dir" default=""/>
  <arg name="vocabulary_path" default="$(find loop_closure_module)/vocabulary/ORBvoc.yml" />

  <node name="swift_vio_node" pkg="sliding_window_estimator" type="swift_vio_node_synchronous" 
      output="screen" args="$(arg vio_config) --bagname=$(arg bagname)
      --camera_topics=$(arg camera_topics) --imu_topic=$(arg imu_topic)
      --skip_first_seconds=$(arg skip_first_seconds) --duration=$(arg duration)
      --dump_output_option=$(arg dump_output_option) --output_dir=$(arg output_dir) 
      --loopclosure=$(arg loopclosure) --noncentral_relative_pose=$(arg noncentral_relative_pose)"
      required="true" >
    <param name="mesh_file" value="firefly.dae" />
  </node>

  <node pkg="rviz" type="rviz" name="rviz" args="-d $(find sliding_window_estimator)/config/rviz.rviz" output="log">
  </node>

  <group if="$(arg loopclosure)">
    <node pkg="loop_closure_module" type="loop_closure_node" name="loop_closure_node" 
     args="$(arg lcd_config) --vocabulary_path=$(arg vocabulary_path) --output_dir=$(arg output_dir) -v=1"
     output="screen" required="true">
    </node>
  </group>

</launch>
