<launch>
  <arg name="bag_file" default="MH_03_medium.bag"/>
  <arg name="image_topic0" default="/cam0/image_raw"/>
  <arg name="image_topic1" default="/cam1/image_raw"/>
  <arg name="imu_topic" default="/imu0"/>
  <arg name="dump_output_option" default="3"/>
  <arg name="load_input_option" default="0"/>
  <arg name="output_dir" default=""/>
  <arg name="config_filename" default="$(find sliding_window_estimator)/config/euroc/config_fpga_p2_euroc.yaml" />
  <arg name="start_into_bag" default="0"/>
  <arg name="play_rate" default="1.0"/>
  <node name="swift_vio_node" pkg="sliding_window_estimator" type="swift_vio_node" output="screen" 
      args="$(arg config_filename)
      --dump_output_option=$(arg dump_output_option) 
      --load_input_option=$(arg load_input_option)
      --output_dir=$(arg output_dir)
      --max_inc_tol=10.0">
    <remap from="/camera0" to="$(arg image_topic0)" />
    <remap from="/camera1" to="$(arg image_topic1)" />
    <remap from="/calibration0" to="/cam0/calibration" />
    <remap from="/calibration1" to="/cam1/calibration" />
    <remap from="/imu" to="$(arg imu_topic)" />
  </node>

  <node pkg="rviz" type="rviz" name="rviz" args="-d $(find sliding_window_estimator)/config/rviz.rviz" output="log">
  </node>

  <node pkg="rosbag" type="play" name="player" args="-s $(arg start_into_bag) 
     -r $(arg play_rate) $(arg bag_file)" output="log" required="true">
  </node>
</launch>
